body, html{
    background-color: #f7f7f7;
    opacity: 1;
}

#header {
    width: 100%;
    background-color: transparent;
}
/* Formatação dos textos nav-bar */
#header #navbar-logo {
    font: italic normal bold 44px/70px Helvetica;
    color: #707070;

}

#header .nav-link {
    text-align: center;
    font: italic normal bold 20px/70px Helvetica;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
/* Traço verde embaixo do TLG */
.green-trait {
    width: 100%;
    height: 7px;
    border-color: #B5C401 !important;
    border-radius: 6px;

}
/* NEW BET FOR MEGA-SENA / Choose a game */
.new-bet {
    font: italic normal bold 24px/85px Helvetica;
    color: #707070;
}

.fms {
    font: italic normal 24px/85px Helvetica;
    color: #707070;
}

.cag {
    font: italic normal bold 17px/70px Helvetica;
    color: #707070;
}
/* Game Buttons (lotofácil, mega-sena e quina) */
.g-b {
    font: italic normal bold 14px Helvetica;
    text-align: center;
    width: 113px;
    height: 34px;
    border-width: 2px;
    border-radius: 100px;
}

.btn-outline-lf{
    --bs-btn-color:#7F3992;
    --bs-btn-border-color:#7F3992;
    --bs-btn-hover-color:#fff;
    --bs-btn-hover-bg:#7F3992;
    --bs-btn-hover-border-color:#7F3992;
    --bs-btn-active-color:#fff;
    --bs-btn-active-bg:#7F3992;
    --bs-btn-active-border-color:#7F3992;
    --bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color:#7F3992;
    --bs-btn-disabled-bg:transparent;
    --bs-gradient:none
}

.btn-outline-ms{
    --bs-btn-color:#01AC66;
    --bs-btn-border-color:#01AC66;
    --bs-btn-hover-color:#fff;
    --bs-btn-hover-bg:#01AC66;
    --bs-btn-hover-border-color:#01AC66;
    --bs-btn-active-color:#fff;
    --bs-btn-active-bg:#01AC66;
    --bs-btn-active-border-color:#01AC66;
    --bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color:#01AC66;
    --bs-btn-disabled-bg:transparent;
    --bs-gradient:none
}

.btn-outline-q{
    --bs-btn-color:#F79C31;
    --bs-btn-border-color:#F79C31;
    --bs-btn-hover-color:#fff;
    --bs-btn-hover-bg:#F79C31;
    --bs-btn-hover-border-color:#F79C31;
    --bs-btn-active-color:#fff;
    --bs-btn-active-bg:#F79C31;
    --bs-btn-active-border-color:#F79C31;
    --bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color:#F79C31;
    --bs-btn-disabled-bg:transparent;
    --bs-gradient:none
}
/* Fill your bet */
.fyb {
    font: italic normal bold 17px/24px Helvetica;
    color: #868686;
}
/* Game Description */
.gd {
    font: italic normal normal 17px/24px Helvetica;
    color: #868686;
}
/* Game Number Button */
.btn-gn{
    font: normal normal bold 20px Helvetica;
    color: #FFFFFF;
    border-radius: 100%;
    width: 65px;
    height: 65px;
    text-align: center;
    padding: 0%;
    --bs-btn-color:#ADC0C4;
    --bs-btn-bg:#ADC0C4;
    --bs-btn-border-color:#ADC0C4;
    --bs-btn-hover-color:#ADC0C4;
    --bs-btn-hover-bg:#707070;
    --bs-btn-hover-border-color:#707070;
    --bs-btn-active-color:#ADC0C4;
    --bs-btn-active-bg:#707070;
    --bs-btn-active-border-color:#707070;
    --bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color:#ADC0C4;
    --bs-btn-disabled-bg:#ADC0C4;
    --bs-btn-disabled-border-color: #707070;
}

.gn-space {
    margin: 5px;
}
/* Complete Game & Clear Game Buttons */
.btn-cp-cl {
    font: normal normal bold 16px/24px Helvetica;
    color: #27C383;
    border-color: #27C383;
    width: 160px;
    height: 55px;
    border-radius: 6px;
}

.btn-cp-cl:hover {
    color: white;
    background-color: #27C383;
}
/* Add to Cart Button */
.btn-add-cart {
    font: normal normal bold 16px/24px Helvetica;
    color: white;
    background-color: #27C383;
    width: 160px;
    height: 55px;
    border-color: #27C383;
    border-radius: 6px;
}

.btn-add-cart:hover {
    background-color: #27C383;
    border-color: #27C383;
    color: white;
}
/* BASEBOARD */
#baseboard {
    font: normal normal normal 15px/30px Helvetica;
    color: #707070;
}
/* Cart Table */
.cart-table{
    background-color: #FFFFFF;
    border: 1px;
    border-color: #E2E2E2;
    border-radius: 10px;
    width: 100%;
    max-width: 320px;
}
/* Cart Title */
.cart-title {
    font: italic normal bold 24px Helvetica;
    color: #707070;
    margin-top: 30px;
}
/* Cart Total R$00,00 */
.cart-total-1{
    font: italic normal bold 24px/85px Helvetica;
    color: #707070;
}

.cart-total-2 {
    font: normal normal 300 24px/85px Helvetica;
    color: #707070;
}
/* Row Table Cart */
.cart-content-lf{
    border-color: #7F3992 !important;
    border-width: 4px !important;
    border-radius: 4px;
}

.game-type-lf {
    font: italic normal bold 16px Helvetica;
    color: #7F3992;
    text-align: center;
}

.cart-content-ms{
    border-color: #27C383 !important;
    border-width: 4px !important;
    border-radius: 4px;
}

.game-type-ms {
    font: italic normal bold 16px Helvetica;
    color: #27C383;
    text-align: center;
}

.cart-content-q{
    border-color: #F79C31 !important;
    border-width: 4px !important;
    border-radius: 4px;
}

.game-type-q {
    font: italic normal bold 16px Helvetica;
    color: #F79C31;
    text-align: center;
}

.trash-button {
    width: 100%;
    max-width: 50px;
}

.card-numbers {
    font: italic normal bold 15px/20px Helvetica;
    color: #868686;
    text-align: left;
}

.game-price {
    font: normal normal normal 16px Helvetica;
    color: #868686;
    text-align: center;
}
/* Save Cart */
.save-cart {
    background-color: #F4F4F4;
    border-color: #E2E2E2;
    font: italic normal bold 35px/70px Helvetica;
    color: #27C383;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}